<div class="home-page">
	<h1>Магазин электроники</h1>
	<h5>Самые лучшие компьютеры и телефоны только у нас</h5><br><br>
	<%= link_to products_path do %> 
		<button>Выбрать товар</button>
	<% end %>
</div>