<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="cart-title">Ваши счета</h1><br>
			<%= render @balances %>			
		</div>
		<div class="col-md-4">
			<i class="fa fa-money" aria-hidden="true"></i>
		</div>
	</div>
</div>